<%- include('../partials/header') %>

<h2>Enter a New Patient</h2>
<form action="/patients" method="POST">
  <label>First name:
    <input type="text" name="firstname">
  </label><br>
  <label>Surname:
    <input type="text" name="surname">
  </label><br>
  <label>Date of Birth:
    <input type="date" name="dob">
  </label><br>
  <label>Address:
    <input type="text" name="address">
  </label><br>
  <label>Email:
    <input type="text" name="email">
  </label><br>
  <label>Phone Number:
    <input type="number" name="phoneNo">
  </label><br>
  <button type="submit">Add New Patient</button>
</form>

<%- include('../partials/footer') %>
