<%- include('../partials/header') %>
<div id = "newPatient">

<h2>Add a New Patient</h2>
<form id ="new-form" action="/patients" method="POST">
  <label>First name:
    <input type="text" name="firstname">
  </label>
  <label>Surname:
    <input type="text" name="surname">
  </label>
  <label>Date of Birth:
    <input type="date" name="dob">
  </label>
  <label>Address:
    <input type="text" name="address">
  </label>
  <label>Email:
    <input type="text" name="email">
  </label>
  <label>Phone Number:
    <input type="number" name="phoneNo">
  </label>
  <button type="submit">Add New Patient</button>
</form>

<%- include('../partials/footer') %>
