#newNotes {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#newNotes a:hover {
  background-color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
#add-patient {
  display: flex;
  justify-content: right;
}
#add-patient-button {
  background-color: red;
  font-size: 20px;
  padding: 5px;
  color: white;
  border-color: transparent;
  border-radius: 7px;
}
#add-patient-button:hover {
  background-color: darkred;
}

#patient-list {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#patient-list td, #patient-list th {
  border: 1px solid #ddd;
  padding: 8px;
}

#patient-list tr:nth-child(even){background-color: #f2f2f2;}

#patient-list tr:hover {background-color: #ddd;}

#patient-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #91f1f4bc;
  color: white;
}

#home {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100vh;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
}

nav {
  background-color: #61c9e3;
  display: flex;
  font-family: sans-serif;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 30px 20px 30px;
}


nav > img {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: #e6fff9;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  color: white;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #00d5ff;
}

nav > a.active {
  color: white;
  cursor: default;
}
#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

#new-form input {
  display: block;
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#add-review-form,
#add-performer-form {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#add-review-form input[type="submit"],
#add-performer-form input[type="submit"]  {
  width: 10rem;
  grid-column: 2 / 3;
}

hr {
  color: #424748
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

#show-page ul {
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;
}
  
#show-page li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.review-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-user img {
  border-radius: 50%;
  height: 40px;
}
